{% extends 'DmlBlogBundle::layout_admin.html.twig' %}

{% block titre_admin %} - Partenaire{% endblock %}

{% block body %}
	<h1 class="slapstick">Liste des catégories de partenaire</h1>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>Nom</td>
						<td>Modifier</td>
						<td>Supprimer</td>
					</tr>
				</thead>
				<tbody>
					{% for categorie in liste_categorie_partenaire %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ categorie.nom }}</td>
							<td class="text-center"><a href="{{ path('dmlblog_modifier_categorie_partenaire', { 'categoriePartenaire': categorie.id }) }}" title='Modifier "{{ categorie.nom }}"'><span class="glyphicon glyphicon-wrench"></span></a></td>
							<td class="text-center"><a href="{{ path('dmlblog_supprimer_categorie_partenaire', { 'categoriePartenaire': categorie.id }) }}" title='Supprimer "{{ categorie.nom }}"'><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a
				href="{{ path('dmlblog_administration', {'categorie': 'partenaire'}) }}"
				title="Retour"
				class="pull-right btn btn-default">
				<span class="glyphicon glyphicon-arrow-left"></span> Retour
			</a>
		</div>
	</div>
{% endblock %}
