<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Dans ma librairie
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/blog/css/animation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/blog/css/my_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/blog/css/my_style_banniere.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/blog/css/polices.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/blog/css/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        {% include '::header.html.twig' %}
        {% include '::nav_error.html.twig' %}
        <section>
        {% block body %}{% endblock %}
        </section>
        {% include '::footer_error.html.twig' %}
    </div>
</body>
</html>