{% extends 'DmlBlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Espace professionnel{% endblock %}

{% block meta %}
    <meta name="description" content="Espace professionnel, retrouvez tout les documents dont vous avez besoin" />
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-7">
        <h1 class="slapstick text-center">Liste des documents</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td class="text-center">N°</td>
                    <td class="text-center">Description</td>
                    <td class="text-center">Télécharger</td>
                </tr>
            </thead>
            <tbody>
            {% for document in liste_document %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ document.description }}</td>
                    <td class="text-center"><a href="{{ asset('') ~ document.webChemin }}" title="{{ document.slug ~ "." ~ document.extension }}"><span class="glyphicon glyphicon-cloud-download"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <h1 class="majuscules_bd text-center">INFORMATIONS</h1>
        <div class="alert alert-success">
            {{ message_pro|bbcode_filter('my_default_filter') }}
        </div>
    </div>
</div>
{% endblock %}
