<nav role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li {% if (app.request.attributes.get('_route') == 'dmlblog_homepage') %}class="active"{% endif %}><a href="{{ path('dmlblog_homepage') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
            <li><a href="{{ path('dmlblog_librairie') }}">La librairie</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nos rayons <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target="#nav_jeunesse">Jeunesse</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#nav_bd">BD</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#nav_science-fiction">Science fiction</a></li>
                </ul>
            </li>
            
            <li><a href="{{ path('dmlblog_newsletter') }}">Newsletter</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dérivés <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for categorie_produit in liste_categorie_produit %}
                        <li><a href="{{ path('dmlblog_produit_derive', { 'slug': categorie_produit.slug }) }}">{{ categorie_produit.nom }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path('dmlblog_emission') }}">Podcasts</a></li>
            <li><a href="{{ path('dmlblog_gallerie') }}">Gallerie</a></li>
        </ul>
    </div>
</nav>
