{% extends 'DmlBlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Historique des news letters{% endblock %}

{% block meta %}
<meta name="description" content="Toutes les news letters qui regroupent les différentes BD et livres jeunesses disponible dans votre librairie !" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p class="bg-success text-center">
                S'inscrire à la newsletter ?
                <a href="https://ssl.canalbd.net/dans-ma-librairie_lettreabo" title="newsletter">Cliquer ici</a>
            </p>
        </div>
    </div>
    <section class="text-center" id="news_letter">
		{# S'il y a plus d'une page, on affiche la liste des pages #}
		{% if nb_page > 1 %}
			<ul>
				<li><a href="{{ path('dmlblog_newsletter', {'page': 1}) }}">&laquo;</a></li>
				{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                {% set nonAfficher = true %}
				{% for p in range(page, nb_page) %}
                    {% if p < page + 3 or p > nb_page - 3%}
    					<li{% if p == page %} class="active"{% endif %}>
    						<a href="{{ path('dmlblog_newsletter', {'page': p}) }}">{{ p }}</a>
    					</li>
                    {% elseif nonAfficher == true %}
                        <li><a href="#">...</a></li>
                        {% set nonAfficher = false %}
                    {% endif %}
				{% endfor %}
				<li><a href="{{ path('dmlblog_newsletter', {'page': nb_page}) }}">&raquo;</a></li>
			</ul>
		{% endif %}
        <article>
            {% for newsletter in newsletters %}
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="row">
                        <div class="col-md-12">
                            <a class="text-left" href="{{ path('dmlblog_modifier_newsletter', {'newsletter' : newsletter.id}) }}">Modifier</a>
                            <a class="text-right" href="{{ path('dmlblog_supprimer_newsletter', {'newsletter' : newsletter.id}) }}">Supprimer</a>
                        </div>
                    </div>
                {% endif %}
				<h1>NEWSLETTER DU {{ newsletter.datePublication|date('d/m/Y') }}</h1>
				{{ newsletter.codeHtml|raw }}
			{% endfor %}

		</article>


		{# S'il y a plus d'une page, on affiche la liste des pages #}
        {% if nb_page > 1 %}
            <ul>
                <li><a href="{{ path('dmlblog_newsletter', {'page': 1}) }}">&laquo;</a></li>
                {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                {% set nonAfficher = true %}
                {% for p in range(page, nb_page) %}
                    {% if p < page + 3 or p > nb_page - 3%}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('dmlblog_newsletter', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% elseif nonAfficher == true %}
                        <li><a href="#">...</a></li>
                        {% set nonAfficher = false %}
                    {% endif %}
                {% endfor %}
                <li><a href="{{ path('dmlblog_newsletter', {'page': nb_page}) }}">&raquo;</a></li>
            </ul>
        {% endif %}
	</section>

{% endblock %}
