{% extends "DmlBlogBundle::layout_admin.html.twig" %}

{% block titre_admin %}	- Utilisateur {% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<form action="{{ path('dmlblog_modifier_utilisateur', {'id': user.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">
				<fieldset>
					<legend>Modifier un utilisateur</legend>
					{{ form_errors(form) }}
					<div class="form-group">
						{{ form_label(form.roles) }}
						<div class="col-md-3">
							{{ form_widget(form.roles) }}
						</div>
					</div>
					{{ form_rest(form) }}
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<a href="{{ path('dmlblog_administration', {'categorie': 'utilisateur'}) }}" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
							<button class="btn btn-primary">Valider <span class="glyphicon glyphicon-ok"></span></button>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
	</div>
{% endblock %}
