{% extends 'DmlUserBundle::layout.html.twig' %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-md-12">
			<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">
				<fieldset>
	                <legend>Souscription au site</legend>
	                {{ form_errors(form) }}
	                {{ form_errors(form) }}
					{% for key, field in form %}
						{% if key=='plainPassword' %}
						{#le field plainPassword est composé de deux fields text#}
						{% for subField in field %}
							{{ form_errors(subField) }}
						{% endfor %}
						{% else %}
						{{ form_errors(field) }}
						{% endif %}
					{% endfor %}
					<div class="form-group">
						{{ form_label(form.username, 'Login : ', { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
						<div class="col-md-3">
							{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_label(form.email, 'Email : ', { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
						<div class="col-md-3">
							{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_label(form.plainPassword.first, 'Mot de passe : ', {'label_attr': {'class': 'col-md-2 control-label'} }) }}
						<div class="col-md-3">
							{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_label(form.plainPassword.second, 'Confirmation du mot de passe : ', {'label_attr': {'class': 'col-md-2 control-label'} }) }}
						<div class="col-md-3">
							{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-primary">Valider <span class="glyphicon glyphicon-ok"></span></button>
						</div>
					</div>
					{{ form_rest(form) }}
				</fieldset>
			</form>
		</div>
	</div>
{% endblock fos_user_content %}
